@charset "utf-8";

/* リセットCSS */
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
	font-family: 'IBM Plex Sans JP', sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1;
    background-color: #ffffff;
}

p {
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

img {
    max-width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: none;
}

/* ヘッダー */
header {
	position: fixed;
	height: 100%;
	background-color: #1f1f1f;
}

@media screen and (min-width: 2201px) {
	header {width: 13%;}
}

@media screen and (min-width: 1601px) and (max-width: 2200px) {
	header {width: 13%;}
}
@media screen and (min-width: 1151px) and (max-width: 1600px) {
	header {width: 13%;}
}
@media screen and (min-width: 981px) and (max-width: 1150px) {
	header {width: 13%;}
}

@media screen and (min-width: 721px) and (max-width: 980px) {
	header {width: 13%;}
}

.top-img {
	/* position: absolute;
	width: 70%;
	height: 70%;
	margin-top: 30%;
	margin-bottom: auto;
	display: inline-block;
	justify-content: center;
	text-align: center; */
	position: absolute;
	top: 5%;
	right: 0;
	/* bottom: 0; */
	left: 0;
	margin: auto;
	width: 80%;
	height: 3.2rem;
}

header nav {
	position: absolute;
	width: 70px;
	height: 320px;
	bottom: 3%;
	left: 50%;
	margin-left: -35px;
}

header nav ul li {
	width: 70px;
	height: 65px;
	margin-bottom: 22px;
}

header nav ul li a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 11px;
	letter-spacing: 2px;
}

header nav ul li a:link,
header nav ul li a:visited {
	color: #fffacd;
}

header nav ul li a:hover,
header nav ul li a:active,
header nav ul li.current a {
	color: #d3381c !important;
}

/* main */
/* トップ画像 */
.main {
	width: 87%;
	margin-left: auto;
	background-color: #e5e5e5;
}

.first-view {
    height: 100vh;
    background-image: url(../images/main.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: center;
	text-shadow: 1px 1px 1px #d3381c;
}

h1 {
	color: #fffacd;
	font-size: 120PX;
	text-align: center;
	padding-top: 50px;
}

/* works */
.works01 {
	background-color: #ffe5cc;
	padding: 60px;
}

.works01 h1 {
	font-size: 25px;
}

.works01-flex {
	display: flex;
}

.works02-flex {
	display: flex;
	background-color: #cce5ff;
	padding: 55px;
}

.works03-flex {
	display: flex;
	background-color: #d5d5d5;
	padding: 55px;
}

.works-text {
	width: 50%;
	margin-top: 20px;
}

.works-text h3 {
	font-size: 22px;
}

.works-text h4 {
	margin-top: 22px;
	font-size: 20px;
}

.works-text p{
	margin-top: 14px;
	font-size: 18px;
	line-height: normal;
}

.works-img {
	width: 40%;
	margin-left: auto;
	margin-right: 10px;
}

a img:hover {
	opacity: 0.8;
  }
  
/* 以下content */
.content {
	width: 87%;
	margin-left: 60px;
	margin-right: auto;
}

.content h2 {
	font-size: 25px;
}

.content h3 {
	font-size: 20px;
}

/* about */
.about {
	margin-top: 80px;
}

.about h3 {
	font-size: 20px;
	margin-top: 30px;
}

.about p {
	font-size: 16px;
    line-height: normal;
}

.profile {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.profile h2 {
	font-size: 22px;
}

.profile-text {
	width: 60%;
}

.profile-img {
	width: 30%;
    display: block;
	margin-left: 40px;
	margin-right: auto;
}

.profile-img img {
    max-width: 360px;
}

.profile dl {
    margin-top: 30px;
	margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: normal;
}

.profile dl dt{
    width: 30%;
}

.profile dl dd {
    width: 70%;
}

/* contact */
.contact {
	margin-top: 80px;
	padding-bottom: 80px;
}

.contact a {
	display: inline-block;
	margin-top: 30px;
	font-size: 18px;
}

.contact a:hover {
	color: #d3381c;
}